<!-- modal  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ویرایش اطلاعات</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="DoctorprofileForm" *ngIf="is_doctor" style="direction: rtl;">
          <div class="d-flex align-items-start flex-column ">
            <label for="first_name_doctor">نام</label>
            <input class="form-control" id="first_name_doctor" type="text" formControlName="first_name">
          </div>
          <div class="d-flex align-items-start flex-column">
            <label for="last_name_doctor">نام خانوادگی</label>
            <input class="form-control" id="last_name_doctor" type="text" formControlName="last_name">
          </div>
          <div class="d-flex align-items-start flex-column">
            <label for="birthday_doctor">تاریخ تولد</label>
            <input style="text-align: end;" class="form-control " id="birthday_doctor" type="date"
              formControlName="birthday">
          </div>
          <div class="d-flex align-items-start flex-column">
            <label for="national_code_doctor">کد ملی</label>
            <input class="form-control" id="national_code_doctor" type="text" formControlName="national_code">
          </div>
          <div class="d-flex align-items-start flex-column">
            <label for="landline_phone">شماره مطب</label>
            <input class="form-control" id="landline_phone" type="text" formControlName="landline_phone">
          </div>
          <div class="d-flex align-items-start flex-column">
            <label for="medical_license_number">شماره نظام پزشکی</label>
            <input class="form-control" id="medical_license_number" type="text"
              formControlName="medical_license_number">
          </div>

          <div class="d-flex align-items-start flex-column">
            <label for="bio">بیوگرافی</label>
            <textarea class="form-control" id="bio" formControlName="bio"></textarea>
          </div>
        </form>


        <form [formGroup]="ProfileForm" *ngIf="!is_doctor" style="direction: rtl;">
          <div>
            <label for="first_name">نام </label>
            <input class="form-control" id="first_name" type="text" formControlName="first_name">
          </div>
          <div>
            <label for="last_name">نام خانوادگی</label>
            <input class="form-control" id="last_name" type="text" formControlName="last_name">
          </div>
          <div>
            <label for="birthday">تاریخ تولد</label>
            <input style="text-align: end;" class="form-control" id="birthday" type="date" formControlName="birthday">
          </div>
          <div>
            <label for="national_code">کد ملی</label>
            <input class="form-control" id="national_code" type="text" formControlName="national_code">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button (click)="editProfile()" class="btn btn-primary">ذخیره تغییرات</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="workhoursModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ویرایش ساعات کاری</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- <form [formGroup]="WorkingHoursForm" class="mt-4" (ngSubmit)="onSubmit1()">
          <div formArrayName="workSchedule" class="form-group">
            <div *ngFor="let schedule of workScheduleArray.controls; let i = index"
              class="d-flex align-items-center justify-content-between p-2 mt-3" [formGroupName]="i">

              <div class="mb-3">
                <input class="form-control" placeholder="روز" formControlName="day">
              </div>

              <div class="mb-3">
                <input class="form-control" placeholder="ساعت شروع" formControlName="start_time">
              </div>

              <div class="mb-3">
                <input class="form-control" placeholder="ساعت پایان" formControlName="end_time">
              </div>

            </div>
          </div>

          <button type="button" class="btn btn-success mt-2" (click)="addWorkSchedule()">افزودن</button>

          <button type="submit" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#workhoursModal">
            ثبت
          </button>
        </form> -->


        <form [formGroup]="WorkingHoursForm" class="mt-4" (ngSubmit)="onSubmit1()">
          <div formArrayName="workSchedule" class="form-group">
            <div *ngFor="let schedule of workScheduleArray.controls; let i = index"
              class="d-flex align-items-center justify-content-between p-2 mt-3"
              [formGroupName]="i">
              
              <!-- فیلد روز -->
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="روز" formControlName="day" required>
              </div>
        
              <!-- فیلد ساعت شروع -->
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="ساعت شروع" formControlName="start_time" required>
              </div>
        
              <!-- فیلد ساعت پایان -->
              <div class="mb-3">
                <input type="" class="form-control" placeholder="ساعت پایان" formControlName="end_time" required>
              </div>
        
              <!-- دکمه حذف بازه -->
            </div>
          </div>
        
          <!-- دکمه افزودن بازه جدید -->
          <button type="button" class="btn btn-success mt-2" (click)="addWorkSchedule()">افزودن بازه</button>
        
          <!-- دکمه ارسال -->
          <button type="submit" class="btn btn-primary mt-2">
            ثبت ساعات کاری
          </button>
        </form>
        


      

        
        <!-- <form *ngIf="empty_hours" [formGroup]="WorkingHoursForm" class="mt-4">
           <h5 class="fw-bold">ویرایش زمان حضور در مجموعه</h5> 
          <div  formArrayName="workSchedule">
            <div class="d-flex align-items-center justify-content-between p-2 mt-3" *ngFor="let schedule of workScheduleArray.controls; let i = index" [formGroupName]="i">
              
              <div class="mb-3">
                <input class="form-control"  id="day-{{i}}" type="text" formControlName="day">
              </div>
        
              <div class="mb-3">
                <input class="form-control"  id="start_time-{{i}}" type="text" formControlName="start_time">
              </div>
        
              <div class="mb-3">
                <input class="form-control"  id="end_time-{{i}}" type="text" formControlName="end_time">
              </div>
            </div>
            <button class="btn btn-success">افزودن</button>

            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workhoursModal"
            type="submit" class="btn btn-primary">ثبت</button>
          </div>
        </form> -->


        <!-- <form class="mt-4">
          <div  formArrayName="workSchedule">
            <div class="d-flex align-items-center justify-content-between p-2 mt-3">
              
              <div class="mb-3">
                <input class="form-control" placeholder="روز"  name="day">
              </div>
        
              <div class="mb-3">
                <input class="form-control" placeholder="ساعت شروع"  name="start_time">
              </div>
        
              <div class="mb-3">
                <input class="form-control" placeholder="ساعت پایان" type="text" name="end_time">
              </div>
            </div>
            <button class="btn btn-success">افزودن</button>

            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workhoursModal"
            type="submit" class="btn btn-primary">ثبت</button>
          </div>
        </form> -->





      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>


<div *ngIf="isToastVisible"
  [ngClass]="{'toast-success': toastMessage?.type === 'success', 'toast-error': toastMessage?.type === 'error'}"
  class="toast-notification">
  {{ toastMessage?.message }}
</div>


<div class="container mt-4">
  <div class="d-flex flex-row-reverse align-items-start">
    <!-- Side Navigation -->
    <div class="side-nav">
      <div class="nav flex-column nav-pills align-self-stretch" id="v-pills-tab" role="tablist"
        aria-orientation="vertical">
        <button class="nav-link d-flex align-items-center justify-content-between active" id="v-pills-home-tab"
          data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
          aria-selected="true">
          <i class="bi bi-person-circle"></i>
          <span>حساب کاربری</span>
        </button>
        <!-- <div class="d-flex align-items-center justify-content-between flex-row-reverse"> -->
        <button class="nav-link d-flex align-items-center justify-content-between" id="v-pills-profile-tab"
          data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">
          <i class="bi bi-calendar2-check"></i>
          <span>نوبت ها</span>
        </button>
        <!-- </div> -->
        <button class="nav-link d-flex align-items-center justify-content-between" id="v-pills-disabled-tab"
          data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab"
          aria-controls="v-pills-disabled" aria-selected="false">
          <i class="bi bi-x-circle"></i>
          <span>آدرس</span>
        </button>
        <button class="nav-link d-flex align-items-center justify-content-between" id="v-pills-messages-tab"
          data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">
          <i class="bi bi-chat-left-text"></i>
          <span>روزهای حضور</span>
        </button>
        <button class="nav-link d-flex align-items-center justify-content-between" id="v-pills-settings-tab"
          data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab"
          aria-controls="v-pills-settings" aria-selected="false">
          <i class="bi bi-gear"></i>
          <span> تنظیمات</span>
        </button>
      </div>
    </div>


    <!-- Tab Content -->
    <div class="tab-content flex-grow-1" id="v-pills-tabContent">
      <!-- Profile Tab -->
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
        tabindex="0">
        <div *ngIf="!is_doctor" class="mb-4">
          <h5 class="mb-3">ویرایش اطلاعات کاربری</h5>
          <form [formGroup]="ProfileForm">
            <div class="mb-3">
              <label for="first_name" class="form-label">نام</label>
              <input class="form-control" id="first_name" type="text" formControlName="first_name">
            </div>
            <div class="mb-3">
              <label for="last_name" class="form-label">نام خانوادگی</label>
              <input class="form-control" id="last_name" type="text" formControlName="last_name">
            </div>
            <div class="mb-3">
              <label for="birthday" class="form-label">تاریخ تولد</label>
              <input class="form-control text-end" id="birthday" type="date" formControlName="birthday">
            </div>
            <div class="mb-3">
              <label for="national_code" class="form-label">کد ملی</label>
              <input class="form-control" id="national_code" type="text" formControlName="national_code">
            </div>
            <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
              type="submit" class="btn btn-success">ویرایش</button>
          </form>
        </div>

        <!-- Doctor Profile -->
        <div class="" *ngIf="is_doctor" style="direction: rtl;">

          <div class="d-flex">
            <img alt="Doctor Image" width="190px" height="180px" class="rounded-circle me-4" [src]="image">

            <div class="w-75">

              <form [formGroup]="DoctorprofileForm" class="w-75">
                <h5 class="mb-3 fw-bold">ویرایش اطلاعات کاربری</h5>
                <div class="mb-3">
                  <label for="first_name_doctor" class="form-label">نام</label>
                  <input class="form-control" readonly id="first_name_doctor" type="text" formControlName="first_name">
                </div>
                <div class="mb-3">
                  <label for="last_name_doctor" class="form-label">نام خانوادگی</label>
                  <input class="form-control" readonly id="last_name_doctor" type="text" formControlName="last_name">
                </div>
                <div class="mb-3">
                  <label for="birthday_doctor" class="form-label">تاریخ تولد</label>
                  <input class="form-control text-end" readonly id="birthday_doctor" type="date"
                    formControlName="birthday">
                </div>
                <div class="mb-3">
                  <label for="landline_phone" class="form-label">شماره مطب</label>
                  <input class="form-control" readonly id="landline_phone" type="text" formControlName="landline_phone">
                </div>
                <div class="mb-3">
                  <label for="medical_license_number" class="form-label">شماره نظام پزشکی</label>
                  <input class="form-control" readonly id="medical_license_number" type="text"
                    formControlName="medical_license_number">
                </div>
                <div class="mb-3">
                  <label for="bio" class="form-label">بیوگرافی</label>
                  <textarea class="form-control" readonly id="bio" formControlName="bio"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  type="submit" class="btn btn-success">ویرایش</button>
              </form>

              <form [formGroup]="WorkingHoursForm" class="w-75 mt-4">
                <h5 class="fw-bold">ویرایش زمان حضور در مجموعه</h5>

                <div formArrayName="workSchedule" *ngIf="!empty_hours">

                  <div class="d-flex align-items-center gap-2 mt-3"
                    *ngFor="let schedule of workScheduleArray.controls; let i = index" [formGroupName]="i">

                    <div class="mb-3">
                      <input class="form-control" readonly id="day-{{i}}" type="text" formControlName="day">
                    </div>

                    <div class="mb-3">
                      <input class="form-control" readonly id="start_time-{{i}}" type="text"
                        formControlName="start_time">
                    </div>

                    <div class="mb-3">
                      <input class="form-control" readonly id="end_time-{{i}}" type="text" formControlName="end_time">
                    </div>

                    <button class="btn btn-danger mb-3" (click)="removeSchedule(i)">
                      حذف
                    </button>
                  </div>

                  <p class="fw-bold alert alert-danger" id="empty" *ngIf="empty_hours">هیچ برنامه ی حضوری برای شما تعریف
                    نشده است.</p>
                  <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workhoursModal"
                    type="submit" class="btn btn-primary" *ngIf="empty_hours">ویرایش</button>
                  <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#workhoursModal">افزودن</button>
                </div>
              </form>

              <form [formGroup]="EducationForm" class="w-75 mt-4">
                <h5 class="fw-bold">تحصیلات</h5>
                <div formArrayName="doctorEducation">
                  <div class="d-flex flex-column align-items-center gap-2 mt-3"
                    *ngFor="let edu of education_array.controls; let e = index" [formGroupName]="e">
                    <div class=" d-flex align-items-center gap-2 mt-3">
                      <div class="mb-3">
                        <input class="form-control" readonly id="field-{{e}}" type="text" formControlName="field">
                      </div>
                      <div class="mb-3">
                        <input class="form-control" readonly id="country-{{e}}" type="text" formControlName="country">
                      </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 mt-3">
                      <div class="mb-3 col-10">
                        <input class="form-control" readonly id="university-{{e}}" type="text"
                          formControlName="university">
                      </div>

                      <div class="mb-3">
                        <input class="form-control" readonly id="graduation_year-{{e}}" type="text"
                          formControlName="graduation_year">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#" type="submit"
                    class="btn btn-primary">ویرایش</button>
                </div>
              </form>


              <form [formGroup]="CertificationForm" class="w-75 mt-4">
                <h5 class="fw-bold">گواهینامه ها</h5>
                <div formArrayName="doctorCertification">
                  <div class="d-flex flex-column align-items-start gap-2 mt-3"
                    *ngFor="let certi of certi_array.controls; let c = index" [formGroupName]="c">
                    <div class="d-flex gap-3 align-items-center">
                      <div class="mb-3">
                        <input class="form-control" readonly id="certificate_name-{{c}}" type="text"
                          formControlName="certificate_name">
                      </div>
                      <div class="mb-3">
                        <input class="form-control" readonly id="issuing_institution{{c}}" type="text"
                          formControlName="issuing_institution">
                      </div>
                    </div>

                    <div class="d-flex gap-3 align-items-center">
                      <div class="mb-3">
                        <input class="form-control" readonly id="date_issue-{{c}}" type="text"
                          formControlName="date_issue">
                      </div>
                      <div class="mb-3">
                        <input class="form-control" readonly id="expiration_date-{{c}}" type="text"
                          formControlName="expiration_date">
                      </div>
                    </div>


                    <div class="mb-3 col-12">
                      <input class="form-control" readonly id="additional_details-{{c}}" type="text"
                        formControlName="additional_details">
                    </div>

                  </div>
                  <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#" type="submit"
                    class="btn btn-primary">ویرایش</button>
                </div>
              </form>

            </div>





          </div>


          <br>


        </div>
      </div>

      <!-- Other Tabs -->
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
        tabindex="0">
        <!-- working-hours-form.component.html -->
        <div class="container">
          <h2>ثبت ساعات کاری</h2>
       

          <form (ngSubmit)="onSubmit()" #workingHoursForm="ngForm">
            <div class="form-group">
              <label for="day">روز:</label>
              <input type="text" id="day" name="day" [(ngModel)]="workHour.day" class="form-control"
                placeholder="مثلاً: شنبه" required />
            </div>
  
            <div class="form-group">
              <label for="start_time">ساعت شروع:</label>
              <input type="text" id="start_time" name="start_time" [(ngModel)]="workHour.start_time"
                class="form-control" required />
            </div>
  
            <div class="form-group">
              <label for="end_time">ساعت پایان:</label>
              <input type="text" id="end_time" name="end_time" [(ngModel)]="workHour.end_time" class="form-control"
                required />
            </div>
  
            <button type="submit" class="btn btn-primary" >
              ارسال
            </button> 
         </form>

          <!-- نمایش پیام‌ها -->
          <!-- <div *ngIf="message" class="alert" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
            {{ message }}
          </div> -->

          <form #workingHoursForm="ngForm">
            <div *ngFor="let schedule of workSchedules1; let i = index" class="row mb-2">
              <!-- فیلد روز -->
              <div class="col">
                <input type="text" class="form-control" placeholder="روز" [(ngModel)]="schedule.day" name="day{{i}}" required>
              </div>
          
              <!-- فیلد ساعت شروع -->
              <div class="col">
                <input type="text" class="form-control" placeholder="ساعت شروع" [(ngModel)]="schedule.start_time" name="start_time{{i}}" required>
              </div>
          
              <!-- فیلد ساعت پایان -->
              <div class="col">
                <input type="text" class="form-control" placeholder="ساعت پایان" [(ngModel)]="schedule.end_time" name="end_time{{i}}" required>
              </div>
          
              <!-- دکمه حذف سطر -->
              
              
            </div>
          
            <!-- دکمه افزودن سطر جدید -->
            <button type="button" class="btn btn-success mt-2" (click)="addRow()">افزودن بازه</button>
          
            <!-- دکمه ثبت همه ساعات -->
            <button type="button" class="btn btn-primary mt-2" (click)="submitAll()">ثبت همه</button>
          </form>
          


        </div>

      </div>
      <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab"
        tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
        tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
        tabindex="0">...</div>
    </div>
  </div>
</div>